<!DOCTYPE html>
<!-- se asocia el modulo con la vista -->
<html lang="en" ng-app="LoginFormModule">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>

    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../Share/main.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Primer Form bootstrap + angulars.
            </a>
        </div>
    </div>
</nav>

<!--contenedor principal-->
<div class="container main-content">
    <form name="theform">

        <label for="name"> Nombre</label>
        <input type="text" class="form-control" id="name">

        <div class="form-group">

        </div>

    </form>
</div>


<script src="../../../bower_components/angular/angular.min.js"></script>
<script src="../controler/FormValidationControler.js"></script>


</body>
</html>