<!DOCTYPE html>
<!-- se asocia el modulo con la vista -->
<html lang="en" ng-app="LoginFormModule">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>

    <link href="../../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../Share/main.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                Primer Form bootstrap + angulars.
            </a>
        </div>
    </div>
</nav>

<!--contenedor principal-->
<div class="container main-content" ng-controller="LoginFormControler">
    <form name="theform" novalidate="novalidate" ng-submit="OnSubmit(theform.$valid);">

        <div class="form-group">

        <label for="name"> Nombre</label>
        <input type="text" class="form-control" required="required" id="name"  ng-model= "FormModel.name">

        </div>

        <div class="form-group">

            <label for="name"> Password</label>
            <input type="password" class= required="required" id="password" ng-model="FormModel.password">

        </div>

        <div class="form-group" ng-class="
        {
        'has-error':!theform.email.$valid && (!theform.$pristine|| theform.$submitted),
        'has-success':theform.email.$valid && (!theform.$pristine || theform.$submitted)

         }">

            <label for="name"> E-mail</label>
            <input type="email" class="form-control" required="required" id="email" ng-model="FormModel.email">

        </div>

        <div class="form-group">

            <button class="btn btn-primary" type="submit">
                Registrar
            </button>

        </div>

    </form>

    <pre> {{FormModel.name | json }} </pre>
    <pre> {{FormModel.password | json }} </pre>
    <pre> {{FormModel.email| json }} </pre>
</div>


<script src="../../../bower_components/angular/angular.min.js"></script>
<script src="../controler/FormValidationControler.js"></script>


</body>
</html>